@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

html, body, main{
    height: 100vh;
    font-family: 'Gilroy-Regular', sans-serif;
}

a{
    color: #0f6bff;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gilroy-Medium', sans-serif;
    margin-bottom: 1em;
}
hr{
    margin-top: 1em;
}



.row{
    flex-direction: column;
    }

.file{
    margin-top: 2em;
}

.smallCol{
    flex: 12.5%;
    margin: 16px;
}

.centerCol{
    flex: 75%;
    margin: 16px;
}

.cardrow3{
    flex: 33%;
    margin: 16px;
}

.col3{
    flex: 50%;
    height: 100vh;
    margin: 12px;
    padding: 16px;
}

.col1{
    flex: 100%;
    height: 100%;
    margin: 12px;
}

.col2{
    flex: 100%;
    height: 100%;
    margin: 12px;
}

.column{
    display: flex;
    flex-direction: column;
}


.hotelImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.mb-0{
    margin-bottom: 0;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-2{
    margin-top: 2rem;
}

.ml-1{
    margin-left: 1em;
}

.redbtn{
    padding: 7.5px 15px;
    background: #E30072;
    border: 1px #E30072 solid;
    border-radius:10px;
    color: white;
    text-decoration: none;
    margin-bottom: 7.5px;
}

.yellowbtn{
    padding: 7.5px 15px;
    background: #ffd412;
    border: 1px #ffd412 solid;
    border-radius:10px;
    color: white;
    text-decoration: none;
    margin-bottom: 7.5px;
    font-size: 16px;
    display: block;
    cursor: pointer;
}

.delUsrbtn{
    padding: 7.5px 15px;
    background: #E30072;
    border: 1px #E30072 solid;
    border-radius:10px;
    color: white;
    text-decoration: none;
    margin-bottom: 7.5px;
    font-size: 16px;
    display: block;
    cursor: pointer;
}

.redbtn:hover{
    text-decoration: none;
}

.viewpgimg{
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.justify{
    text-align: justify;
}

.reportParag{
    padding: 16px;
    flex: 50%;
}

.padd16{
    padding: 16px;
}

.usrBox{ 
    background-blend-mode: overlay;
    flex: 35%;
    height: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px;
}

.adduser{
    background-image: url('/HotelWebsite/img/Background/adduser.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.25));
}

.addusr{
    background: teal;
    border: 1px teal; solid;
}

.updusr{
    background: #ffd412;
    border: 1px #ffd412; solid;
    cursor: pointer;
}

.delusr{
    background: #E30072;
    border: 1px #E30072; solid;
    cursor: pointer;
}

.updateuser{
    background-image: url('/HotelWebsite/img/Background/updateuser.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.25));
}

.deleteuser{
    background-image: url('/HotelWebsite/img/Background/deleteuser.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.25));
}



.userimg{
    object-fit: cover;
}

.h1text{
    font-size: 28px;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
    padding: 7.5px 15px;
    border-radius:10px;
    color: white;
    text-decoration: none;
    margin-bottom: 7.5px;
}

.h1text:hover{
    text-decoration: none;
}

.Citations{
    padding-left: 16px;
}



/* Tablet menu */
@media all and (min-width: 468px) {
    .row {
        display: flex;
        flex-direction: row;
    }
}

/* Desktop menu */
@media all and (min-width: 768px) {
    .viewpgimg{
        height: 600px;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .roomsrow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col1{
        flex: 30%;
        height: 100%;
        margin: 12px;
    }
    .col2{
        flex:70%;
        height: 100%;
        margin: 12px;
    }

    .hotelImg {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 38.42vh;
    }
}
